//because the default of chrome for the body of html document, which it has a 8/16 px margin, cleaning the marging is necessary
*
    margin: 0px
    padding: 0px

.home-page
    background-color: #F9F9FC
    margin-left: 297px
    height: 940px
    z-index: 1
    display: flex
    justify-items: stretch
    align-items: center

    .content
        flex: 1//this element should be used with justify-items: strech to fill the content, because there have remaining content inside current box
        text-align: center
        padding: 0px 20px

        .frame
            display: inline-block
            width: 260px
            height: 260px
            border-radius: 100%
            position: relative
            margin-bottom: 27px
            background-color: #e2e2e2
            border-radius: 100%
            
            
            .image-content
                display: inline-block
                max-width: 240px//width 100% change, 22 line change as well
                height: auto
                margin-top: 10px//move down 10px in order to center the image
                border-radius: 100%

        
