@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin-left: 0px;
  margin-top: 0px;
  font-family: "Poppins";
}

main {
  padding: 0px;
  margin-left: 320px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 83.4%;
  height: 6000px;
  overflow: hidden;
}

main #nav-icon {
  display: none;
  z-index: 2;
}

main #responsive {
  display: none;
  font-size: 0%;
  z-index: 2;
}

.sideBar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  height: 100%;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 3px 0px 5px #f5f5f5;
          box-shadow: 3px 0px 5px #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sideBar .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #CBD3D9;
  text-align: center;
}

.sideBar .logo #name {
  padding: 40px;
  margin: 0;
}

.sideBar .menu-frame {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: inline;
}

.sideBar .menu-frame .navInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 60px 40px 60px 40px;
}

.sideBar .menu-frame .navInner .list-inner {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #fff), color-stop(50%, #F9F9FC)) right;
  background: linear-gradient(to left, #fff 50%, #F9F9FC 50%) right;
  background-size: 200%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 9px 15px 9px 15px;
  margin-bottom: 8px;
}

.sideBar .menu-frame .navInner .list-inner .element {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #616060;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sideBar .menu-frame .navInner .list-inner .element .material-icons {
  margin-right: 15px;
}

.sideBar .menu-frame .navInner .list-inner .element p {
  margin: 0px;
}

.sideBar .menu-frame .navInner .list-inner:hover {
  background-position: left;
}

.sideBar .author {
  border-top: 1px solid #CBD3D9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sideBar .author .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 55px;
}

.sideBar .author .inner .image {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
}

.sideBar .author .inner h3 {
  display: inline;
}

.sideBar .author .inner a {
  text-decoration: none;
  text-shadow: 0.5px 0.5px #6977f1;
  color: #6d93fa;
}

@media screen and (max-width: 810px) {
  main {
    margin-left: 0px;
    width: 100%;
  }
  main #nav-icon {
    position: fixed;
    width: 100%;
    background-color: #474747;
    color: #ffffff;
    display: inline-block;
    padding-left: 5px;
  }
  main .carousel-inner {
    display: none;
  }
  main .testimonial-carousel {
    display: none;
  }
  .sideBar {
    display: none;
  }
}

.home-page {
  background-color: #F9F9FC;
  height: 16%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0px 20px;
}

.home-page .content .social-media-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .content .social-media-frame .fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.home-page .content .social-media-frame .fa-facebook {
  text-shadow: 2px 2px #000000;
  color: #c7c7c7;
  border: 1px 1px #777;
}

.home-page .content .social-media-frame .fa-linkedin {
  text-shadow: 2px 2px #000000;
  color: #c7c7c7;
  border: 1px 1px #777;
}

.home-page .content .social-media-frame .fa-twitter {
  text-shadow: 2px 2px #000000;
  color: #c7c7c7;
  border: 1px 1px #777;
}

.home-page .content .social-media-frame .fa-instagram {
  text-shadow: 2px 2px #000000;
  color: #c7c7c7;
  border: 1px 1px #777;
}

.home-page .content .social-media-frame .fa:hover {
  opacity: 0.7;
}

.home-page .content h3 {
  font-size: 60px;
  font-weight: bolder;
  color: #1A1A1A;
}

.home-page .content p {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  color: #7e7e7e;
}

.home-page .content .frame {
  display: inline-block;
  width: 260px;
  height: 260px;
  border-radius: 100%;
  position: relative;
  margin-bottom: 27px;
  background-color: #e2e2e2;
  border-radius: 100%;
}

.home-page .content .frame .image-content {
  display: inline-block;
  max-width: 240px;
  height: auto;
  margin-top: 10px;
  border-radius: 100%;
}

.about-page {
  padding: 100px 40px 40px 40px;
  height: 14%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 60px 0px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

.about-page .content .top-content {
  width: 50%;
  margin-top: 20px;
}

.about-page .content .top-content .about-title {
  padding-left: 40px;
  font-size: 60px;
  font-weight: bolder;
  color: #1A1A1A;
}

.about-page .content .top-content .introduction {
  padding-right: 200px;
  list-style: none;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-page .content .top-content .introduction .brief-intro {
  font-size: 22px;
  margin-bottom: 20px;
}

.about-page .content .top-content .introduction .brief-intro span {
  font-weight: 600;
}

.about-page .content .top-content .introduction p {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  color: #7e7e7e;
}

.about-page .content .top-content .introduction .skill {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 1.5;
  font-family: "poppins";
  color: #1A1A1A;
}

.about-page .content .bottom-content {
  margin-top: 20px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
  border-radius: 20px;
}

.about-page .content .bottom-content .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  text-align: center;
  z-index: 3;
  background-color: #5f4ff1;
  border-radius: 50%;
  -webkit-box-shadow: 10px #e9e9f1;
          box-shadow: 10px #e9e9f1;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.about-page .content .bottom-content .experience h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 35px;
}

.about-page .content .bottom-content .experience h3 span {
  font-size: 15px;
  padding-left: 25px;
}

.about-page .content .bottom-content img {
  height: 95%;
  width: 70%;
  margin-left: 150px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.service-page {
  background-color: #F9F9FC;
  padding: 100px 40px 40px 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10%;
}

.service-page .service-title {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: break-word;
}

.service-page .service-title h3 {
  font-size: 60px;
  font-weight: bolder;
  color: #1A1A1A;
}

.service-page .service-title p {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  color: #7e7e7e;
}

.service-page .service-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  background-color: #F9F9FC;
  margin-bottom: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 40px;
}

.service-page .service-list .service-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 40px 40px 40px;
  background-color: #fff;
  margin: 40px 40px 40px 0px;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-page .service-list .service-content .inner-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.service-page .service-list .service-content .inner-list .material-icons {
  color: #9cbcf8;
  font-size: 70px;
  height: 38%;
}

.service-page .service-list .service-content .inner-list .serivce-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 38%;
  font-size: 30px;
}

.service-page .service-list .service-content .inner-list .serivce-name h3 {
  margin: 0px;
}

.service-page .service-list .service-content .inner-list a {
  margin-top: 20px;
}

.service-page .service-list .service-content .inner-list .learn-more {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.service-page .service-list .service-content .inner-list .learn-more p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7E7E7E;
  font-size: 20px;
  font-weight: 500;
}

.service-page .service-list .service-content .inner-list .learn-more .learn-more-arrow {
  content: "";
  width: 15px;
  height: 2px;
  background-color: #7E7E7E;
  position: absolute;
  left: 110px;
  bottom: 30px;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.service-page .service-list .service-content .inner-list .learn-more .learn-more-arrow:after {
  display: inline;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #7E7E7E;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 10px;
  bottom: 3px;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
}

.service-page .service-list .service-content .inner-list .learn-more .learn-more-arrow:before {
  display: inline;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #7E7E7E;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 10px;
  top: 3px;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
}

.service-page .service-content:hover {
  background-color: #0a0a0a;
  color: #fbfbfb;
}

.service-page .service-content:hover .inner-list .learn-more p {
  color: #fbfbfb;
}

.service-page .service-content:hover .inner-list .learn-more .learn-more-arrow {
  background-color: #fbfbfb;
  width: 40px;
}

.service-page .service-content:hover .inner-list .learn-more .learn-more-arrow:before {
  background-color: #fbfbfb;
  left: 35px;
}

.service-page .service-content:hover .inner-list .learn-more .learn-more-arrow:after {
  background-color: #fbfbfb;
  left: 35px;
}

.portfolio-page {
  padding: 100px 40px 40px 40px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-page .portfolio-title {
  padding-left: 40px;
}

.portfolio-page .portfolio-title h3 {
  font-size: 60px;
  font-weight: bolder;
  color: #1A1A1A;
}

.portfolio-page .portfolio-title p {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  color: #7e7e7e;
}

.portfolio-page .carousel-inner {
  width: 94%;
  margin: 50px auto;
  min-height: 300px;
  position: relative;
  overflow: visible;
  margin-left: 0px;
  padding-left: 40px;
}

.portfolio-page .carousel-inner .portfolio-carousel-inner {
  overflow: hidden;
}

.portfolio-page .carousel-inner .portfolio-carousel-inner .portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.portfolio-page .carousel-inner .portfolio-carousel-inner .portfolio-list .portfolio-content {
  border-radius: 20px;
  width: 33.5%;
  height: 500px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-page .carousel-inner .portfolio-carousel-inner .portfolio-list .portfolio-content .portfolio-inner-list {
  width: 99%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: stretch;
}

.portfolio-page .carousel-inner .portfolio-carousel-inner .portfolio-list .portfolio-content .portfolio-inner-list .img-frame {
  border-radius: 20px;
  overflow: hidden;
}

.portfolio-page .carousel-inner .portfolio-carousel-inner .portfolio-list .portfolio-content .portfolio-inner-list .img-frame .portofolio-example {
  width: 100%;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio-page .carousel-inner .portfolio-carousel-inner .portfolio-list .portfolio-content .portfolio-inner-list .img-frame .portofolio-example:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio-page .carousel-inner .portfolio-carousel-inner .portfolio-list .portfolio-content .portfolio-inner-list h3 {
  font-family: "Poppins";
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.portfolio-page .carousel-inner .portfolio-carousel-inner .portfolio-list .portfolio-content .portfolio-inner-list p {
  font-family: "Poppins";
  font-size: 16px;
  color: #777;
}

.portfolio-page .carousel-nav {
  opacity: 0.7;
}

.portfolio-page .carousel-nav button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
}

.portfolio-page .carousel-nav .prev {
  left: 5px;
  bottom: 260px;
}

.portfolio-page .carousel-nav .next {
  bottom: 260px;
  left: 97%;
}

.portfolio-page .prev:hover {
  background-color: #292929;
}

.portfolio-page .prev:hover .material-icons {
  color: #fff;
}

.portfolio-page .next:hover {
  background-color: #292929;
}

.portfolio-page .next:hover .material-icons {
  color: #fff;
}

.testimonial-page {
  background-color: #F9F9FC;
  padding: 100px 40px 40px 40px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial-page .testimonial-title {
  padding-left: 40px;
}

.testimonial-page .testimonial-title h3 {
  font-size: 60px;
  font-weight: bolder;
  color: #1A1A1A;
}

.testimonial-page .testimonial-title p {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  color: #7e7e7e;
}

.testimonial-page .testimonial-carousel {
  width: 92%;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
  overflow: visible;
  margin-left: 35px;
  margin-right: 0px;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner {
  overflow: hidden;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content {
  width: 51%;
  height: 350px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content .testimonial-carousel-inner-list-content-card {
  width: 96%;
  height: 100%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content .testimonial-carousel-inner-list-content-card .testimonial-carousel-inner-list-content-card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content .testimonial-carousel-inner-list-content-card .testimonial-carousel-inner-list-content-card-inner img {
  width: 130px;
  height: 130px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content .testimonial-carousel-inner-list-content-card .testimonial-carousel-inner-list-content-card-inner .p-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  margin-top: 40px;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content .testimonial-carousel-inner-list-content-card .testimonial-carousel-inner-list-content-card-inner .p-title .p-name {
  font-size: 20px;
  font-weight: bold;
  color: #272727;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content .testimonial-carousel-inner-list-content-card .testimonial-carousel-inner-list-content-card-inner .p-title .p-intro {
  font-size: 15px;
  color: #7e7e7e;
  margin-top: 2px;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content .testimonial-carousel-inner-list-content-card .testimonial-carousel-inner-list-content-card-inner svg {
  margin-left: 160px;
  margin-top: 80px;
}

.testimonial-page .testimonial-carousel .testimonial-carousel-inner .testimonial-carousel-inner-list .testimonial-carousel-inner-list-content .testimonial-carousel-inner-list-content-card p {
  margin-top: 30px;
  word-wrap: break-word;
  margin-left: 42px;
  font-size: 18px;
  color: #7e7e7e;
}

.testimonial-page .testimonial-carousel-nav {
  margin-top: 40px;
  display: block;
  text-align: center;
  margin-right: 8px;
}

.testimonial-page .testimonial-carousel-nav button:hover {
  background-color: #fff;
  border-color: #000000;
}

.testimonial-page .testimonial-carousel-nav button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: #888888;
}

.blog-page {
  padding: 100px 40px 40px 40px;
  height: 5%;
  z-index: 1;
  padding-left: 80px;
}

.blog-page h3 {
  font-size: 60px;
  font-weight: bolder;
  color: #1A1A1A;
}

.blog-page p {
  font-family: "Poppins";
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  color: #7e7e7e;
}

.contact-page {
  background-color: #F9F9FC;
  height: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add a darker green color */
}

.contact-page .contact-page-container {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 100px 40px 40px 40px;
}

.contact-page .contact-page-container .contact-page-container-row-title {
  word-wrap: break-word;
}

.contact-page .contact-page-container .contact-page-container-row-title h3 {
  font-size: 60px;
  font-weight: bolder;
  color: #1A1A1A;
}

.contact-page .contact-page-container .contact-page-container-row-title p {
  font-family: "Poppins";
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0px;
  word-wrap: break-word;
  color: #7e7e7e;
  margin-bottom: 10px;
}

.contact-page .contact-page-container .contact-page-container-row {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-page .contact-page-container .contact-page-container-row .contact-page-container-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-page .contact-page-container .contact-page-container-row .contact-page-container-col .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-page .contact-page-container .contact-page-container-row .contact-page-container-col .contact-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact-page .contact-page-container .contact-page-container-row .contact-page-container-col .contact-input .bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

.contact-page .contact-page-container .contact-page-container-row .contact-page-container-col .contact-input .submit-bar {
  margin: 10px;
  width: 100px;
}

.contact-page .contact-page-container .contact-page-container-row .contact-page-container-col .position-map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-page input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-page input[type=submit]:hover {
  background-color: #45a049;
}

.contact-page input[type=query] {
  border: none;
  border-bottom: 2px solid #c2c2c2;
  outline: none;
}
/*# sourceMappingURL=main.css.map */