
.navbar-inverse
    background-color: #ebe9e9
    .navbar-brand
        font-size: 40px

        p
            color: #030303
            span
                color: #4e50dd

.navbar-nav
    border-radius: 2px
    .nav-item
        color: #ffffff
        text-transform: uppercase
        letter-spacing: 3px
        font-size: 10px
    

.navbar-inverse .navbar-nav>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus
    background-color: #adaaaa
    
    
